.todoWrapper {
    background: #1A1A40;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}

.todoWrapper h1 {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .todoWrapper {
        padding: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .todoWrapper {
        padding: 0.5rem;
    }
    .todoWrapper h1 {
        font-size: 17px;
    }
}